@charset "utf-8";

html {
	font-family: sans-serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3D000F;
    margin: 40px 20px 20px 20px;
    font-size: 1.5rem;
}

body{
    background-color: black;
}

.guess-label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3D000F;
    margin: 20px 20px 20px 20px;
    font-size: 1rem;
    font-weight: bolder;
}

.guess-input{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 2.8rem;
    border-radius: 100%;
    border-color: #3D000F;
    border-style: dotted;
    font-weight: bolder;
    margin-bottom: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#guesses{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    display: inline;
}

#lastResult {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

#lowOrHi{
    color: GREEN;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
  
}

#label-guesses{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    display: inline;

}

.col-md-12.right{
    text-align: center;
    background-color: black;
    padding: 20px 0 40px 0;
    background-repeat: no-repeat;
}

.col-md-12.left{
background-color: #F6F8DD;
text-align: center;
padding: 0;
}

.game-background{
    width: 70%;
}

.position-boy{
    position: absolute;
    width:50%;
}

.pos1{
    width: 17%;
}

.game-logo{
    width: 30%;
    margin-top: 40px;
}

.btn-outline-success{
    display: none;
}

span{
    color: red;
    font-weight: bolder;
}

.feedback{
    margin: 0;
}

#lowOrHi, #lastResult, #guesses{
    margin: 0;
    padding: 10px 0 10px 0;
}

#gameover{
    display: none;
    padding: 10px 0 10px 0;
    font-size: 2rem;
    color: red;
    font-weight: bolder;
}

@media (min-width:0px) and (max-width:912px) {
    .pos1{
        width: 33%;
        margin-left: 85%;
    }
}​